/Java-Programming-2nd-semester/
/proga/IdeaProjects/Laba5_1t/
/ОПД/лаба 3/3.docx
/ОПД/3 часть bcomp-lections-2019-3-145-5-slides.pdf
/дм/5_recurrent.pdf
/Физика/5_динамика вращательного движения.docx
/Физика/6_динамика вращ, диф ур.docx
/ОПД/15.01.2022 ОПД 2021_2022, осень, 1-й курс.xlsx
/ОПД/лаба 3/ass2.txt
/ОПД/лаба 3/ASSEMBLER.txt
/ОПД/лаба2/bcomp-ng.jar
/ОПД/bcomp-ng.jar
/ОПД/bcomp-ng-ex.jar
/КиК/belbin_tr_overview_ru.png
/Физика/Blank_IFMO.docx
/proga/collection network.png
/Англ 2 сем/Copy of Empower B1.2_Student's Book.pdf
/ОПД/лаба 3/CSV TRASSIROVKI.csv
/ОПД/лаба 3/f1.csv
/ОПД/лаба2/lab0.txt
/ОПД/лаба2/lab0_kat.png
/ОПД/лаба2/lab2.docx
/ОПД/лаба 3/lab3 OPD.xlsx
/Физика/лаб 1.01/Lab_1_01.pdf
/Физика/лаб 1.02/Lab_1_02.pdf
/Физика/Lec1.06_Mech_PIKT.pptx
/алгебра/mo679.pdf
/Англ 2 сем/Modals of obligation.pdf
/ХиОД/OneDrive_2021-04-15.zip
/ОПД/опд учу/photo_2022-01-06_16-38-32.jpg
/ОПД/лаба 3/Ponamarev lab3 OPD.docx
/proga/Screenshot from 2021-09-27 12-41-24.png
/proga/Screenshot from 2021-09-27 12-45-54.png
/Физика/лаб 1.01/ti.docx
/ОПД/опд учу/words.txt
/ОПД/лаба2/адресные команды.png
/Англ 2 сем/англ учебник.pdf
/КиК/Бланк.docx
/proga/Вопросы про лабу по проге.docx
/ОПД/опд учу/ВЫПОЛНЕНИЕ OR.txt
/Физика/лаб 1.02/Д5523П_2012 В.В. Курепин_ И.В. Баранов ОБРАБОТКА ЭКСПЕРИМЕНТАЛЬНЫХ ДАННЫХ (1).pdf
/proga/Закинуть файл на helios.txt
/КиК/Инструкция по авторизации на сайте study.physics.pdf
/proga/как создать jar (от Мирона).txt
/КиК/КиК,РТ.pdf
/КиК/КиК. План курса (2).pdf
/Физика/лаб 1.01/Книга1.xlsx
/ОПД/опд учу/КОМ1.png
/ОПД/опд учу/КОМ2.png
/ОПД/опд учу/КОМ3.png
/ОПД/опд учу/КОМ4.png
/ОПД/lab1/Лабораторная 1.docx
/Физика/лаб 1.01/ЛЭЭЭБАдима.pdf
/ОПД/лаба 3/Методические указания к выполнению лабораторных работ и рубежного контроля БЭВМ 2019 bcomp-ng.pdf
/ОПД/опд учу/Методические указания к выполнению лабораторных работ и рубежного контроля БЭВМ 2019 bcomp-ng.pdf
/ОПД/МикроКР ОПД 2021_2022, осень, 1-й курс.xlsx
/ОПД/опд учу/мордочка бэвм.png
/ОПД/опд учу/Новый текстовый документ.txt
/Физика/лаб 1.01/отчет по физ финалочка Марченко.docx
/Физика/лаб 1.01/Отчёт по 1 лабе.docx
/Физика/лаб 1.02/Понамарев Лаб1.02.docx
/Физика/лаб 1.01/Понамарев Лаб1_1.docx
/ОПД/лаба2/Понамарев Лаба2.docx
/ОПД/опд учу/Презентация лекций 2019 часть 1.pdf
/ОПД/Презентация лекций 2019 часть 2.pdf
/ОПД/lab1/пример отчёта по лабораторной работе.docx
/ОПД/опд учу/программа для учения слов.py
/Распа 2 семестр.xlsx
/ОПД/РЕЖИМЫ АДРЕСАЦИИ.PNG
/ОПД/лаба2/Снимок экрана 2021-12-12 180242.png
/ОПД/опд учу/Снимок экрана 2022-01-15 005221.png
/ОПД/опд учу/Снимок экрана 2022-01-15 005244.png
/ОПД/опд учу/Снимок экрана 2022-01-17 175750.png
/КиК/Снимок экрана 2022-02-13 163123.png
/КиК/Снимок экрана 2022-02-13 231501.png
/ОПД/опд учу/Снимок экрана 2022-02-15 233532.png
/КиК/Снимок экрана 2022-02-21 103342.png
/Физика/лаб 1.02/Снятие показаний лаб. 1.02 Понамарев.xlsx
/Список_вопросов_к_колку.docx
/ОПД/лаба 3/текст задания.png
/proga/Текст задания лаб5.docx
/КиК/Тест Белбина.docx
/Физика/Типичные_ошибки_в_лабораторной_работе.pdf
/ОПД/лаба 3/трассировка через WindowsShell.xlsx
/Физика/лаб 1.02/ФизикаЛаба2.docx
/КиК/я по мод белбина.png
